@import './variables.scss';
@import './reset.scss';
@import './breakpoints.scss';
@import './type.scss';

html {
  font-size: $base-font-size;
}
body {
  color: #444;
  background: #efefef;
  font-family: Helvetica, Arial, sans-serif;

  &--hasMenu {
    margin-left: 320px;
  }
}
body * {
  box-sizing: border-box;
}
